<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAFT-VTGPsu35Na_FGzq6mYuSfa1GTbus0</string>
	<key>GCM_SENDER_ID</key>
	<string>808742797976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messageApp</string>
	<key>PROJECT_ID</key>
	<string>messageapp-443ec</string>
	<key>STORAGE_BUCKET</key>
	<string>messageapp-443ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808742797976:ios:c41a4f7a7f077d560a06ed</string>
</dict>
</plist>